PORT=5000
MONGO_URI=mongodb://localhost:27017/niraj
DATABASE_NAME=niraj

JWT_SECRET=
JWT_EXPIRES_IN=7d

EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
EMAIL_TO=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

FRONTEND_URL=http://localhost:3000
